/******************************************************************************/
/* Edital */
#edital_info{
    color: #333333;
    display: block;
    height: auto;
    margin: 0 auto;
    min-height: 80px;
    width: 634px; /* TODO: Corrigir essa implementação. */
}

#edital_info .metric_info{
    margin: 20px 0 0 0;
}

ul#edital_list{
    margin-top: 10px;
}

ul#edital_list li{
    border-bottom: 1px solid #CCCCCC;
    color: #333333;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    width: 100%;
}

ul#edital_list li .note{
    font-size: 12px;
    margin-left: 30px;
}

/******************************************************************************/
/* INFO */
ul#info {
    overflow: hidden;
}

ul#info li{
    margin-bottom: 10px;
    margin-top: 10px;
}

ul#info .title{
    font-size: 16px;
}

ul#info .number{
    border-bottom: 1px solid #CCCCCC;
    font-size: 40px;
}

/******************************************************************************/
/* CUSTOM */

/*a, a:visited{ color: #00E7EB !important; }

.input_container input:focus,
.input_container select:focus,
.input_container textarea:focus{
    outline: 1px solid #00E7EB !important;
}

header #topline{
    border-bottom: 3px solid #00E7EB !important;
}

main h1, h2, h3, h4, h5, h6{ font: "Exo", sans-serif !important; font-family: "Exo", sans-serif !important; }

main h1{
    color: #17365D;
    font-size: 32px;
    margin: 30px 0 10px 0;
}

.positive { background-color: #00E7EB !important; color: #000000 !important; }

input[type=submit],
button.submit,
a.submit,
a.submit:visited,
a.submit:hover{
    border-radius: 25px !important;
    color: #FFFFFF !important;
    font: "Exo", sans-serif !important;
    font-family: "Exo", sans-serif !important;
    padding: 2px 20px !important;
}

header .logo{
    height: 87px !important;
}

#edital_info{
    color: #656D75 !important;
}

ul#edital_list li{
    border-bottom: 1px solid #AAB5Bf !important;
    color: #656D75 !important;
    font-size: 18px;
    height: 60px;
    line-height: 55px;
}

ul#edital_list li a{
    background-color: #00E7EB;
    border: none;
    border-radius: 25px;
    color: #FFFFFF !important;
    display: inline-block;
    font: "Exo", sans-serif !important;
    font-family: "Exo", sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    padding: 2px 20px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    width: auto;
}*/